body {
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
}

.banner {
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  margin: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#claim {
  background: gold;
  display: none;
}

#inventory {
  border: 1px solid #333;
  padding: 10px;
  max-height: 150px;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px;
}

.item img {
  width: 45px;
  border-radius: 8px;
}
